@import '../styles/variables';

.container {
  min-height: 100vh;
  padding: 25px;

  .sidenav {
    background-color: $tech-blue-bgc;
    border-right: thin solid $border-white;
    left: 0;
  }

  .sidenav,
  .sidenav-content {
    height: 100vh;
    position: fixed;
    z-index: 3;
  }
}

.galaxy-quadrant {
  border: thin solid lightblue;
  border-radius: 10px 0 0 0;
  bottom: 0;
  position: fixed;
  right: 0;

  button {
    background-color: transparent;
    border-bottom: none;
    border-left: thin solid lightblue;
    border-right: none;
    border-top: none;
    color: white;

    &:first-child {
      border-left: none;
    }
  }
}

.nav-toggle {
  background-color: $tech-blue-bgc;
  border-bottom-color: $border-black;
  border-left-color: $border-white;
  border-radius: $border-radius / 6;
  border-right-color: rgba(black, .2);
  border-style: solid;
  border-top-color: rgba(white, .2);
  border-width: thin;
  cursor: pointer;
  padding: $page-spacer / 6;
  position: fixed;
  right: 5px;
  top: 5px;
  transition: all .2s ease-in-out;

  &:active {
    box-shadow:
      inset 2px -2px 2px rgba(0, 0, 0, .3),
      inset -2px 2px 2px rgba(0, 0, 0, .3),
      inset -2px -2px 2px rgba(0, 0, 0, .3),
      inset 2px 2px 2px rgba(0, 0, 0, .3);
    margin-top: 1px;
  }

  &:hover {
    border-top-color: $border-black;
    border-right-color: $border-white;
    border-left-color: $border-black;
    border-bottom-color: $border-white;
  }

  img {
    height: 50px;
    width: auto;
  }

  span {
    color: white;
    display: block;
    font-size: 1.2rem;
  }
}

$myBoxShadow: rgba(0, 0, 0, .4);

.sidenav {
  button {
    transition: all .2s ease-in-out;
    width: 100%;

    &:hover {
      box-shadow:
        inset 0px 11px 8px -10px lighten($color: $myBoxShadow, $amount: 10%),
        inset 0px -11px 8px -10px lighten($color: $myBoxShadow, $amount: 10%),
        inset 11px 0 8px -10px lighten($color: $myBoxShadow, $amount: 10%),
        inset -11px 0 8px -10px lighten($color: $myBoxShadow, $amount: 10%);
    }
  }

  .active {
    box-shadow:
      inset 0px 11px 8px -10px $myBoxShadow,
      inset 0px -11px 8px -10px $myBoxShadow,
      inset 11px 0 8px -10px $myBoxShadow,
      inset -11px 0 8px -10px $myBoxShadow;

      &:hover {
        box-shadow:
          inset 0px 11px 8px -10px darken($color: $myBoxShadow, $amount: 10%),
          inset 0px -11px 8px -10px darken($color: $myBoxShadow, $amount: 10%),
          inset 11px 0 8px -10px darken($color: $myBoxShadow, $amount: 10%),
          inset -11px 0 8px -10px darken($color: $myBoxShadow, $amount: 10%);
      }
  }
}

.sidenav,
.sidenav-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 300px;
}

.star-date {
  bottom: 5px;
  left: 5px;
  right: 5px;
  position: fixed;
  width: calc(300px - 10px) !important;

  * {
    text-align: center;
  }

  .numerals {
    display: block;
    font-size: 1.6rem;
    margin-top: 15px;
    text-align: center;
  }
}

.ufop {
  display: block;
  margin: 0 auto;
  width: 200px;
}
